@charset "UTF-8";
/* -------------------------------------------------------------------------- */
/*                                  Variables                                 */
/* -------------------------------------------------------------------------- */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
:root {
  /* -------------------------------------------------------------------------- */
  /*                                  ​‌‍‌ ⁡⁣⁢⁣ C𝗼𝗹𝗼𝗿S    ​    ⁡                           */
  /* -------------------------------------------------------------------------- */
  --Soft-Cyan: hsl(174, 77%, 80%);
  --Strong-Cyan: hsl(174, 86%, 45%);
  --Light-Grayish-Red: hsl(14, 92%, 95%);
  --Light-Red: hsl(15, 100%, 70%);
  --Pale-Blue: hsl(226, 100%, 87%);
  --White: hsl (0, 0%, 100%);
  --Very-Pale-Blue: hsl(230, 100%, 99%);
  --Light-Grayish-Blue: hsl(224, 65%, 95%);
  --Light-Grayish-Blue: hsl(223, 50%, 87%);
  --Grayish-Blue: hsl(225, 20%, 60%);
  --Dark-Desaturated-Blue: hsl(227, 35%, 25%) //(Text & CTA Background)
  /* -------------------------------------------------------------------------- */
   /*                                  ​‌‍‌‍⁡⁣⁢⁣  FontS       ⁡ ⁡ ​                          */
   /* -------------------------------------------------------------------------- */

   --fontMarope: "Manrope", sans-serif;
}

/* -------------------------------------------------------------------------- */
/*                                    Reset                                   */
/* -------------------------------------------------------------------------- */
/* Definimos las Custom properties */
:root {
  /* Colores */
  --negro: #393939;
  /* TipografÃ­a */
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

/* (Opcional) Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}
/* (Opcional) Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* (Opcional) Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*::before,
*::after {
  display: block;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* (Opcional) */
  -o-object-fit: cover;
     object-fit: cover;
  /* (Opcional) */
  -o-object-position: center center;
     object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en pÃ¡rrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* (Opcional) Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* (Opcional) Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografÃ­as y colocaciÃ³n de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* (Opcional) */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografÃ­a para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--font);
  font-weight: 400;
  color: var(--Dark-gray);
  overflow-y: auto;
  /* (Opcional) */
  /* (Opcional) */
  -webkit-font-smoothing: antialiased;
  /* (Opcional) */
  -moz-osx-font-smoothing: grayscale;
}/*# sourceMappingURL=app.css.map */