.app {
  background-image: url("../../images/bg-pattern.svg");
  background-repeat: no-repeat;
  padding-top: 4rem;
  padding-inline: 1.5rem;
  background-size: auto;
  position: relative;
  height: 100vh;

  .header {
    width: min(100%, 375px);
    background-image: url("../../images/pattern-circles.svg");
    background-repeat: no-repeat;
    background-position: center;
    padding: 2rem;
    margin: 0 auto;

    &__title {
      text-align: center;
      font-size: 1.2rem;
      font-weight: 800;
    }
    &__subtitle {
      font-size: 13px;
      text-align: center;
      line-height: 1.5;
      white-space: pre-line;
      font-weight: 600;
    }
  }
}

@media screen and (min-width: 376px) {
  .app {
    width: min(100%, 1440px);
    height: 400px;
    background-size: contain;
    margin: 0 auto;
    .header {
      width: 540px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &__title {
        text-align: center;
        font-size: 2em;
        white-space: nowrap;
      }

      &__subtitle {
        font-size: 15px;
        white-space: nowrap;
        margin-top: 0.5rem;
      }
    }
  }
}
